$brand-color: #d07ea7;
$brand-color-2: #d07ea7;
$default-hero-image: "/images/hero/box-top.jpg";
$logo-icon: "../assets/logo-icon.png";

// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 20rem)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
$iphone: "(max-width: 460px)";

